#img-bg{
  background-image: url('https://st.depositphotos.com/1026266/4924/i/950/depositphotos_49247515-stock-photo-tablet-pc-showing-calendar-on.jpg');


  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;

}